/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    --main-color: #0f7173;
    --accent-color: #68b1b3;
    --main-bg-color: #a1e9eb;

    --title-color: rgb(255, 255, 255);
    --text-color: white;

    --buttons-bg: rgb(61, 241, 232);
    --button-color: rgb(32, 122, 138);
    --submit-color: red;

    min-height: 100vh;
    background: linear-gradient(135deg, var(--main-color), var(--accent-color));
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 80%;
    height: 70vh;

    background: var(--main-bg-color);

    border-radius: 12px;

    display: flex;
    flex-direction: column;

    opacity: 0.8;
}

button {
    cursor: pointer;
}

.header {
    margin: 2rem;

    border-bottom: 2px solid black;
}

.header h1 {
    color: var(--title-color);
    filter: drop-shadow(0px 0px 2px black);
}

.alternativer {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    width: 80%;
    height: 60%;

    background: var(--buttons-bg);
    border-radius: 32px;

    align-self: center;
    padding: 4rem;

    box-shadow: 2px 2px 15px black;
}

button.alternativ {
    margin: 1rem;

    border: none;
    border-radius: 4px;

    background: var(--button-color);
    color: var(--text-color);

    transition: all 0.3s ease-in-out;
}

button.alternativ:hover {
    opacity: 0.8;
}

button.alternativ.selected {
    background: orange;
}

button.check {
    width: 60%;
    height: 8%;

    border: none;
    border-radius: 20px;
    background: red;
    color: var(--text-color);
    font-weight: bold;
    font-size: 2rem;

    box-shadow: 2px 2px 15px black;

    margin: 4rem;

    align-self: center;
}

/* Bubble container */
.bubbles {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

/* Individual bubbles */
.bubble {
    position: absolute;
    bottom: -150px;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 50%;
    animation: floatUp linear infinite;
}

/* Bubble animation */
@keyframes floatUp {
    from {
        transform: translateY(0) scale(1);
        opacity: 0.8;
    }

    to {
        transform: translateY(-120vh) scale(1.2);
        opacity: 0;
    }
}