* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*

 _____ _   _ _____ __  __ _____    ____ ___  _     ___  ____  ____  
|_   _| | | | ____|  \/  | ____|  / ___/ _ \| |   / _ \|  _ \/ ___| 
  | | | |_| |  _| | |\/| |  _|   | |  | | | | |  | | | | |_) \___ \ 
  | | |  _  | |___| |  | | |___  | |__| |_| | |__| |_| |  _ < ___) |
  |_| |_| |_|_____|_|  |_|_____|  \____\___/|_____\___/|_| \_\____/ 

*/

body {
  --header-link-color: #FFF;
  --header-color: #FFFFFF;
  --subheader-color: white;
  --nav-button-color: white;

  --footer-background-color: #0f7173;
}

body.darkmode {
  --header-link-color: #000;
}

body.darkmode .has-bg {
  opacity: 1;
}

footer {
  background-color: var(--footer-background-color);
  border-radius: 0;
  height: 10vh;
  margin: 0;
  height: 25vh;
  padding: 30px;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.promotionHolder {
  display: flex;
  flex-direction: column;
}

.promotionTitle {
  font-family: "Sankofa Display", sans-serif;
  font-size: 42px;
  color: white;
  margin: 10px;
  margin-left: 30px;
  padding: 0px;
  width: fit-content;
  cursor: pointer;
}

footer a {
  margin-left: 30px;
  font-family: "Times New Roman", Times, serif;
  text-decoration: underline;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}

footer div {
  width: 100%;
}

footer .socials {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 35px;
  font-size: 24px;
  padding-left: 15rem;
}

.socials i {
  cursor: pointer;
  color: white;
}

.socials h1 {
  cursor: pointer;
}

#dark-mode-switch {
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
}

#dark-mode-switch label {
  padding: 5px;
  border-radius: 50%;
  background-color: #333;
  color: #fff;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

#dark-mode-switch input[type="checkbox"] {
  opacity: 0;
}

#dark-mode-switch input[type="checkbox"]:checked~label {
  background-color: #777 !important;
}